[Unit]
Description=CPU Temperature & Fan Speed Monitor
After=network.target

[Service]
Type=forking
User=root
WorkingDirectory=/opt/cputemp
RemainAfterExit=yes
ExecStart=/usr/bin/tmux new-session -d -s cputemp -x 200 -y 50 'btop' \; split-window -v -p 40 '/opt/cputemp/.venv/bin/python /opt/cputemp/cputemp.py' \; split-window -h -p 40 'cmatrix -ab -s -C blue' \; select-pane -t 0
ExecStop=/usr/bin/tmux kill-session -t cputemp
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
